$wGray:#808080;
$gray:#333;
$pink:#fdd;
$white:#fff;
$blue:blue;
$red:red;
$fz30:20px;
body{background-color:$wGray;}
.btn1{display: block;width: 200px;height: 50px;line-height: 50px;font-size: $fz30;color:$gray;text-align: center;background-color: $white;border:1px solid $gray;
	&:hover{background-color: $gray;color:$white;border-color:$white}
}
.btn2{display: block;padding: 10px;font-size: $fz30;border:1px solid $gray;background-color: $pink;color:$gray;}