@charset "UTF-8";
body{display: flex;justify-content: center;align-items: center;font-family:'Gloria Hallelujah', 'Nanum Pen Script', cursive;background-color:#333;}
input{background:none;border:none;font-family:'Gloria Hallelujah', 'Nanum Pen Script', cursive;}
input:focus{outline:none}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0;}
button{padding:0;cursor:pointer;background:none;border:none;font-family:'Gloria Hallelujah', cursive;}
button:focus{outline:none}


#app{padding:50px;font-size:22px;box-shadow:10px 15px 25px #111;background-image:url(img/paper_texture_background.jpg);}
#app h1{padding-bottom:20px;text-align:center;}
#app label{margin-right:20px;}
#app input{width:150px;font-size:22px;}
#app .kor{font-size:28px;line-height:22px;}

/* inputWrap */
#inputWrap{padding-bottom:25px;border-bottom:3px double rgba(0,0,0,0.2);}
#inputWrap input{border-bottom:2px dashed #000;}
#inputWrap input.num{width:20px;}
#inputWrap .add_btn{width:100px;height:45px;line-height:45px;font-size:18px;position:relative;}
#inputWrap .add_btn:after{display:block;content:'';width:0px;border-bottom:2px dashed #000;position:absolute;bottom:0;left:0;transition:.3s;}
#inputWrap .add_btn:hover:after{width:100%;}

/* probuctList */
#probuctList input.num{width:20px;}
#probuctList input.check_box{width:auto;}
#probuctList input:disabled{color:#000}
#probuctList button{font-size:22px;}
#probuctList .prodt_list{margin:0 auto;width:90%;position:relative;}
#probuctList .prodt_list:after{display:block;content:'';width:82%;height:1px;background-color:#000;position:absolute;top:32px;left:2%;}
#probuctList .select:after{display:none;}

/* totalPrice */
#totalPrice{text-align:right;}


/* .prodt_list{margin-top:50px;}
.prodt_list p{font-size:22px;}
.prodt_list span{display:inline-block;width:175px;text-align:center;}

.total_price{font-size:22px;text-align:right;} */