<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue Shopping Basket</title>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="../reset.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="vue_basket.js"></script>
</head>
<body>
	<div id="app">
		<h1>Vue Shopping Basket</h1>
		<div id="inputWrap">
			<label>Product Name : <input type="text" v-model.lazy="prodtName" class="kor"></label>
			<label>Product Price : <input type="number" v-model.lazy="prodtPrice"></label>
			<label>Number of products : <input type="number" min="1" max="10" v-model="prodtNumber" class="num"></label>
			<button type="button" class="add_btn" @click="addClick">Add</button>
		</div>
		<div id="probuctList">
			<probuct-list
			v-for="(item, index) in prodtList"
			:key="item.id"
			:index="index"
			:prodt-n="item"
			@delete="DelClick"
			@toto="totalPricefn"
			></probuct-list>
		</div>
		<div id="totalPrice">
			Total Price : {{ totalPrice }}
		</div>
	</div>
</body>
</html>