<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Step 06</title>
	<style>
		button{display:block;}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<!-- Together -->
	<!-- v-if -->
	<div id="app_1">
		<label><input :type="inputC" v-model="myVisible">표시</label>
		<p v-if="myVisible">체크박스가 on</p>
		<button :type="buttonT" v-if="isShow" v-on:click="good">GOOD</button>
	</div>
	<script>
		new Vue({
			el: "#app_1",
			data: {
				inputC: 'checkbox',
				myVisible: false,
				buttonT: 'button',
				isShow: true
			},
			methods: {
				good: function(){
					this.isShow = false
				}
			}
		});
	</script>
	<!-- v-for -->
	<div id="app_2">
		<ul>
			<li v-for="item in Array">{{ item }}</li>
			<li v-for="item in objArray">{{ item.name }} {{ item.price }}</li>
			<li v-for="n in 10">{{n}} x 5 = {{n*5}}</li>
			<li v-for="(item, index) in iiArray">{{index + 1}} : {{item}}</li>
		</ul>
	</div>
	<script>
		new Vue({
			el: "#app_2",
			data: {
				Array: ['아','이','오'],
				objArray: [
					{name:'안녕',price:500},
					{name:'안녕2',price:1500},
					{name:'안녕3',price:2500}
				],
				iiArray:[
					'음','엄','에','또'
				]
			}
		});
	</script>
	<div id="app_3">
		<table>
			<thead>
				<th v-for="item in header">{{ item }}</th>
			</thead>
			<tbody>
				<tr v-for="line in ranking">
					<td v-for="item in line">{{ item }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script>
		new Vue({
			el: "#app_3",
			data: {
				header: ['프로그램 언어', 2018, 2013, 2008, 2003, 1998],
				ranking: [
					['Java',1,2,1,1,16],
					['C',2,1,2,2,1],
					['C++',3,2,3,3,2],
					['Python',4,7,6,11,23],
					['JavaScript',7,10,8,7,20]
				]
			}
		});
	</script>
	<!-- Arrange -->
	<hr>
	<!-- Practice -->
	<hr>
</body>
</html>