<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Step 04</title>
</head>
<body>
	<!-- 기존 -->
	<!-- <div id="loginBox">
		<p>비로그인 상태 화면</p>
		<button type="button" onclick="login();">로그인!</button>
	</div>
	<div id="logoutBox" style="display:none;">
		<p>로그인 상태 화면</p>
		<button type="button" onclick="logout();">로그아웃!</button>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		var loginBox = document.getElementById('loginBox');
		var logoutBox = document.getElementById('logoutBox');
		function login(){
			loginBox.style.display = 'none';
			logoutBox.style.display = 'block';
		}
		function logout(){
			loginBox.style.display = 'block';
			logoutBox.style.display = 'none';
		}
	</script> -->

	<!-- 효율 -->
	<!-- <div id="loginBox"></div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		// 레이아웃을 변수로 정의
		var loginLayout = '<p>비로그인 상태 화면</p>' + '<button onclick="toggleLogin();">로그인!</button>';
		var logoutLayout = '<p>로그인 상태 화면</p>' + '<button onclick="toggleLogin();">로그아웃!</button>';

		var isLogin = false;
		var loginBox = document.getElementById('loginBox');

		loginBox.innerHTML = loginLayout;
		function toggleLogin(){
			isLogin = !isLogin;
			loginBox.innerHTML = isLogin ? logoutLayout : loginLayout;
		}
	</script> -->

	<!-- Vue v-show -->
	<!-- <div id="app">
		<div v-show="isLoginBoxShow">
			<p>비로그인 상태 화면</p>
			<button tpye="button" onclick="login();">로그인!</button>
		</div>
		<div v-show="!isLoginBoxShow">
			<p>로그인 상태 화면</p>
			<button tpye="button" onclick="logout();">로그아웃!</button>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		const app = new Vue({
			el: '#app',
			data: { isLoginBoxShow : true }
		});
		function login(){
			app.isLoginBoxShow = false;
		};
		function logout(){
			app.isLoginBoxShow = true;
		};
	</script> -->

	<!-- Vue v-if -->
	<!-- <div id="app">
		<div v-if="isLoginBoxShow">
			<p>비로그인 상태 화면</p>
			<button type="button" onclick="toggle();">로그인!</button>
		</div>
		<div v-else>
			<p>로그인 상태 화면</p>
			<button type="button" onclick="toggle();">비로그인!</button>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		const app = new Vue({
			el: '#app',
			data:{ isLoginBoxShow:true }
		});
		function toggle(){
			app.isLoginBoxShow = !app.isLoginBoxShow;
		}
	</script> -->

	<!-- Vue v-if -->
	<div id="app">
		<p>
			오늘은
			<span v-if='dayOfWeek==1'>월요일!</span>
			<span v-else-if='dayOfWeek==2'>화요일!</span>
			<span v-else-if='dayOfWeek==3'>수요일!</span>
			<span v-else-if='dayOfWeek==4'>목요일!</span>
			<span v-else-if='dayOfWeek==5'>금요일!</span>
			<span v-else-if='dayOfWeek==6'>토요일!</span>
			<span v-else-if='dayOfWeek==7'>일요일!</span>
			<span v-else>먹어요?</span>
			진짜?
		</p>
		<button type="button" onclick="rand();">다른 날?</button>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script>
		const app = new Vue({
			el: '#app',
			data:{ dayOfWeek : (new Date()).getDay() }
		});
		function rand(){
			app.dayOfWeek = Math.floor(Math.random()*7);
		}
	</script>
</body>
</html>