<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vue Calculator</title>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<link rel="stylesheet" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="vue_calc.js"></script>
	<!-- <script src="vue_calc_.js"></script> -->
</head>
<body>
	<!-- Practice -->
	<div id="ui_evtWrap" class="rs">
		<div class="evt_calc">
			<div class="tit">
				<h3 class="rs bold">우리 지역 <span class="fnt_r">보조금</span> 확인</h3>
				<p><strong>트위지로 팔도강산을 누빌 그 날을 위하여!</strong> <br>내가 사는 지역의 트위지 구매 보조금을 손쉽게 확인해보세요. 구매부터 유지까지, 알뜰한 트위지 라이프 시작!</p>
			</div>
			<div class="calc_box">
				<strong class="q">우리 지역 <em class="rs bold">보조금</em>은 얼마?</strong>
				<ul>
					<li class="step step01"><em class="num">STEP 01</em>
						<p class="desc">아래 전국 지도에서 보조금을 <strong>확인할 지역을 선택</strong></p>
						<div class="area">
							<span class="txt">선택한 지역은</span>
							<span class="rs_select">
								<select
									id="sel_city"
									v-model="selected"
									@change="selectOpt"
								>
									<option
										v-for="item in calcLoct"
										:value="item.location"
									>{{ item.location }}</option>
								</select>
							</span>
							<span class="txt">입니다</span>
						</div>
						<img id="priceMap" :src="imgName" alt="" usemap="#citymap">
						<map name="citymap" @click="clickMap" @mouseover="hoverMap">
							<area
								onfocus="this.blur()"
								shape="poly"
								href="javascript:;"
								v-for="(item, index) in calcLoct"
								:coords="item.coords"
								:alt="item.location"
								:data-index="index"
							>
						</map>
					</li>
					<li class="step step02"><em class="num">STEP 02</em>
						<p class="desc">보조금 확인하고 <strong>구매 상담 신청!</strong></p>
						<div class="top">
							<div class="calc">
								<p>
									<transition>
										<span class="price first on" :key="selected">
											{{ selected }}
										</span>
									</transition>에서 구매 시<br>
									 보조금 최대 <strong><span class="price second on">{{ subsidyPrice }}</span> 만원 지원</strong>
								 </p>
							</div>
						</div>
						<div class="bottom">
							<div class="twizy on">
								<ul>
									<li><span class="item rs bold">LIFE</span> 11,900,000 <em>원</em></li>
									<li><span class="item rs bold">INTENS</span> 12,900,000 <em>원</em></li>
								</ul>
							</div>
							<div class="final">
								<p>
									보조금 적용 시 <span class="rs bold">트위지 최종 구매가</span> <br>
									<strong>
										<em class="rs bold">
											<span class="price on">{{ finalPrice }}</span>만원
										</em>부터~
									</strong>
								</p>
								<ul class="evt_tip">
									<li>LIFE 트림 기준</li>
								</ul>
							</div>
							<div class="btn"><button type="button" class="rs on">구매 상담 신청</button></div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>